body {
    display: flex;
    justify-content: center;
}

.sns {
    width: 450px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 0.5px solid #e0e0e0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.sns-header {
    height: 25em;
    overflow: hidden;
}

.sns-cover {
    height: 18em;
    overflow: hidden;
}

.owner {
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.owner-avatar {
    height: 65px;
    width: 65px;
    margin-right: 17px;
    border-radius: 6px;
    overflow: hidden;
}

.owner-name {
    margin-right: 7px;
    margin-bottom: 21px;
    font-size: 0.95em;
    color: azure;
    letter-spacing: 1.5px;
    text-shadow: 0 0 8px darkgray;
}

.item {
    display: flex;
    flex-direction: row;
}

.avatar-box>img {
    margin-left: 14px;
    border-radius: 5px;
    height: 45px;
    width: 45px;
}

.sns-item-box {
    padding-left: 8px;
    margin-right: 10px;
    width: calc(100% - 67px);
}

.sender_name {
    color: rgb(67, 86, 145);
    text-shadow: 0 0 0 rgba(0, 0, 0, 1);
}

.sns-content {
    margin-top: 5px;
    width: 361px;
    white-space: pre-wrap;
    word-break: break-all;
}

.sns-imgs {
    margin-top: 5px;
}

.sns-imgs {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, 117px);
}

.img-container:last-of-type:first-of-type {
    display: block!important;
    max-width: 239px;
}

.img-container {
    width: 100%;
}

.img-container>img {
    aspect-ratio: 1;
}

.time {
    font-size: small;
}